---
layout: layout
title: Stephanie Hicks Yoga
metaDescription: Stephanie Hicks Yoga
---
mixin date(input)
    - var date = new Date(input)
    - var months = [ 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ]

    time(datetime=JSON.parse(JSON.stringify(date)))&attributes(attributes)=months[date.getMonth()] + ' ' + date.getDate() + ', ' + date.getFullYear()
    
h1 Upcoming Schedule

include _includes/schedule.ejs

h1 Recent Articles 

each article in collections.postsReversed.slice(0,5)
    article.content-article
        header
            h2
                a(href=article.url)= article.data.title
            h3
                +date(article.isoDate)
            p !{article.data.summary}
            a(href=article.url) Read about it!
            //p #{JSON.stringify(article)}

h3.read-more
  a(href="/blog") Read More Articles